<div class="app container">
  <div class="row">
    <div class="columns medium-6">
      The Agenda
    </div>
    <div class="columns medium-6">
      {{link-to "Home" "index" class="button"}}
      {{link-to "Courses" "courses" class="button"}}
      {{link-to "Todo" "todos" class="button"}}
      {{link-to "Settings" "settings" class="button"}}
    </div>
  </div> 
</div>
